body {
    background-color: #FFBA86;
    text-align: center;
}

h1 {
    color: #79155B;
    font-family: Tahoma, Verdana, sans-serif;
    font-size:50px;
}


input {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 50px;
    border-color: #F9E0BB;
    background-color: #F2ECBE;  
    color: #C70039;
    font-family: monospace;
    font-weight: bold;
}

img {
    width: 500px;
}

button {
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C23373;
    color: #FFEECC;
    padding: 5px 25px;
    font-size: 20px;
    font-style: italic;
    border-radius: 10px;
    border-color: #C23373;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #e41866;
    font-family: monospace;
}